:root {
    --shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --body-bg-color: #FFFFFF;
    --setting-bg-color: #0000000D;
    --setting-color: #181544;
    --switch-on-bg-color: #000000;
    --switch-off-bg-color: #c5cae9;
    --func-bg-color: #0000000D;
    --func-name-color: #181544;
    --func-input-bg-color: #F9F9F9;
    --func-input-color: #495057;
    --func-input-border-color: #c5cae9;
    --func-output-bg-color: #F9F9F9;
    --func-output-color: #495057;
    --func-output-border-color: #c5cae9;
    --func-action-hover-bg-color: #c5cae98c;
    --func-action-bg-color: #f1f3ff;
    --func-action-border-color: #c5cae9;
}

.dark-mode {
    --shadow: inset 0 1px 5px rgba(255, 255, 255, 0.2);
    --body-bg-color: #000000;
    --setting-bg-color: #FFFFFF33;
    --setting-color: #3EA6FF;
    --switch-on-bg-color: #3d3d3d;
    --switch-off-bg-color: #aaaaaa;
    --func-bg-color: #FFFFFF33;
    --func-name-color: #F1F1F1;
    --func-input-bg-color: #3d3d3d;
    --func-input-color: #FFFFFF;
    --func-input-border-color: #000000;
    --func-output-bg-color: #3d3d3d;
    --func-output-color: #FFFFFF;
    --func-output-border-color: #000000;
    --func-action-hover-bg-color: rgba(255, 255, 255, 0.2);
    --func-action-bg-color: #212121;
    --func-action-border-color: #000000;
}

.lord-mode {
    --shadow: inset 0 1px 5px rgba(255, 255, 255, 0.2);
    --body-bg-color: #000000;
    --setting-bg-color: #FFFFFF33;
    --setting-color: #3EA6FF;
    --switch-on-bg-color: #3d3d3d;
    --switch-off-bg-color: #aaaaaa;
    --func-bg-color: #FFFFFF33;
    --func-name-color: #F1F1F1;
    --func-input-bg-color: #000000;
    --func-input-color: #16FF00;
    --func-input-border-color: #ffffff30;
    --func-output-bg-color: #000000;
    --func-output-color: #16FF00;
    --func-output-border-color: #ffffff30;
    --func-action-hover-bg-color: rgba(255, 255, 255, 0.2);
    --func-action-bg-color: #212121;
    --func-action-border-color: #ffffff30;
}

body {
    background-color: var(--body-bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100%;
    margin-top: 50px;
}

.interface {
    display: flex;
    flex-direction: column;
}

.shadowed {
    box-shadow: var(--shadow);
}

.function {
    background-color: var(--func-bg-color);
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: .5rem;
}

.func-name {
    color: var(--func-name-color);
    font-size: 1.5rem;
    padding: .25rem;
    flex: 0 0 100%;
}

.func-input {
    flex: 1;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--func-input-color);
    background-color: var(--func-input-bg-color);
    background-clip: padding-box;
    border: 1px solid var(--func-input-border-color);
    border-bottom: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 0;
}

.func-input:focus-visible {
    outline: none;
}

.func-output:focus-visible {
    outline: none;
}

.func-output {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    padding: 10px;
    background-color: var(--func-output-bg-color);
    border: 1px solid var(--func-output-border-color);
    border-radius: 0;
    overflow: auto;
    flex: 0 0 100%;
    color: var(--func-output-color);
}

.func-action {
    flex: 0 0 5%;
    display: inline-block;
    font-weight: 400;
    background-color: var(--func-action-bg-color);
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--func-action-border-color);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.func-action:hover {
    background-color: var(--func-action-hover-bg-color);
}

.form-group {
    margin-bottom: 0 !important;
}

.setting {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--setting-bg-color);
    color: var(--setting-color);
    height: 50px;
    font-weight: bold;
}

.checkbox-wrapper-35 .switch {
    display: none;
}

.checkbox-wrapper-35 .switch+label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.checkbox-wrapper-35 .switch+label::before,
.checkbox-wrapper-35 .switch+label::after {
    content: '';
    display: block;
}

.checkbox-wrapper-35 .switch+label::before {
    background-color: var(--switch-off-bg-color);
    border-radius: 500px;
    height: 25px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 40px;
}

.checkbox-wrapper-35 .switch+label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 23px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 23px;
}

.checkbox-wrapper-35 .switch+label .switch-x-text {
    display: block;
    margin-right: .3em;
}

.checkbox-wrapper-35 .switch+label .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 25px;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked,
.checkbox-wrapper-35 .switch+label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox-wrapper-35 .switch+label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.checkbox-wrapper-35 .switch+label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch+label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked+label::before {
    background-color: var(--switch-on-bg-color);
}

.checkbox-wrapper-35 .switch:checked+label::after {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}